@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: rgb(21 20 26 / 63%);
    border-radius: 10px;
}


:root {
    --backgroundgrey: #ffc26612;

    --Background: #F9F9F9;
    --PRIMARY: #333333;
    --SECONDARY: #fff;
    --Secondary-activ: #cecece;
    --Labelcolor: #030303;

    --Confirm: #00897B;
    --Warning: #303F9F;
    --Remove: #C62828;
    --Error: #B00020;

    /*#3700B3   #FB9A33   grey #363640*/
    --focus-outline: #08f auto 2px;
    
    --swiperbody: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);;
    --swipertitle: #26384e;
    --swiperdescription: #889db8;
    --swipertoaudio: rgb(206, 206, 206);
    --swiperpagination: rgba(255, 185, 0, 0.3);
    --swiperpagination-activ: #ffb200;
    --swipershadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    

    --slideropacity: 0;
    --sliderbackground: #bdbdbd;
    --sliderbackground-hover: #9e9e9e;
    --sliderthumbcolor: #ffc266; /*#ffc266 , FB9A33 , #f6b800 */
    --slidertrackcolor: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc266), color-stop(100%, #ffc266));


    --font-size: 16px;
    --font-size-icons: 24px;
    --font-size-icons-bigger: 4px; /*how much bigger from --font-size-icons (Changes on screen size)*/
    
    /* --sliderbackgound: #606060;
    --sliderthumbcolor: red;
    --slidertrackcolor: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1100), color-stop(100%, #ff1100)); */
}


html {
	width: 100%;
	margin: 0;
	padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--Background);
    color: var(--Labelcolor);
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: var(--font-size);
}

/* @media screen and (max-width: 480px) {
    body {
        --font-size: 14px;
        --font-size-icons: 18px;
    }
}

@media screen and (max-width: 375px) {
    body {
        --font-size: 12px;
        --font-size-icons: 16px;
    }
} */


.centertext{
    text-align: center;
}

/* ################################################################ */

.header {
    background-color: var(--SECONDARY);
    /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc266),color-stop(50%, #ffc266d0), color-stop(100%, #ffc26600)); */
    top: 0;
    width: 100%;
    height: 40px;
    padding-top: 16px;
    margin-bottom: 20px;
}
.btn-left {
    position: absolute;
    left: 16px;
}
.btn-icon {
    height: 24px;
    width: 24px;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    top: 16px;

}
.btn-right {
    position: absolute;
    right: 16px;
}

.headertitle {
    display: inline;
    margin: auto;
}

.headertitle > h6 {
    margin: 0;
    font-size: 20px;
    white-space: nowrap;
}

.withscrollbar {
    overflow: scroll;
    overflow-x: hidden;
}

/* ################################################################ */

.btn-action{
    border: none; 
    background-color: rgba(0, 0, 0, 0);
    padding: 1px 4px;
    cursor: pointer;
}

.btn-ctn, .infos-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}
.infos-ctn{
    margin-left: 20px;
    padding-top: 6px;
    float:left;
}

.btn-ctn > *, .infos-ctn > * {
    z-index: 1;
}

.infos-ctn > div {
    /* margin-bottom: 8px;  */
    color: var(--PRIMARY);
}

.duration{
    margin-left: 5px;
}

.timer {
    margin-right: 5px;
}

.title{
    margin-left: 10px;
    margin-right: 10px;
}

.player-ctn{
    height: 8%;
    width: 100%;
    /* border-radius: 15px; */
    padding: 10px;
    background-color: var(--SECONDARY);
    bottom: 0;
    position: absolute;
}

.playlist-track-ctn{
    display: flex;
    background-color: var(--SECONDARY);
    margin-top: 10px; /*3px*/
    border-radius: 5px;
    cursor: pointer;
}

.playlist-track-ctn > div{
    margin:10px;
}
.playlist-info-track{
    width: 100%;
}
.playlist-info-track,.playlist-duration{
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--PRIMARY); /*e9cc95*/
    font-size: 14px;
    pointer-events: none;
}
.active-track{
    background: var(--Secondary-activ);
    color: var(--PRIMARY) !important;
    font-weight: bold;

}
.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
    color: var(--PRIMARY) !important;
}
.playlist-btn-play{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.fas{
    color: var(--PRIMARY);
    font-size: var(--font-size-icons);
}
.bigger{
    font-size: calc(var(--font-size-icons) + var(--font-size-icons-bigger));
}

.expand-div {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85%;
    left: 0;
}


/* ################################################################ */


.playlist {
    height: 100%;
    padding: 16px 16px;
}

.maincontent {
    height: 75%;
    padding: 16px 16px;
}


/* ############################### Slider ################################## */

#slider {
    position: absolute;
    width: 98%; /*93%*/
    margin-top: -9px;
    left: 0;
    /* transform: translate3d(-50%, -100%, 0); */
} 

@media (hover:none), (hover:on-demand) { 
    /* custom css for "touch targets" */
    :root {
        --slideropacity: 1;
    }
  }

#slider:hover {
    /* height: 7px; */
    --slideropacity: 1;
    --sliderbackground: var(--sliderbackground-hover); /*707070*/
}

#slidertitle {
    display: none;
    position: absolute;
    cursor: default;
    background-color: var(--Secondary-activ);
    border-radius: 2px;
    padding: 4px 8px;
    color: var(--labelcolor);
    top: 0; 
    left: 0;
    transform: translate3d(-40%, -170%, 0); /*translate3d(-50%, -100%, 0)*/
}
  
#container:hover > #slidertitle {
    display: block;
}

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 5px;
    background-color: var(--sliderbackground);
    transition: background-color 0.15s ease-in;
    background-image: var(--slidertrackcolor);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    /* border-radius: 10px; */
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--sliderthumbcolor);
    opacity: var(--slideropacity);
    transition: opacity 0.15s ease-out;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 50%;
    -webkit-appearance: none;
    /* border: 1px solid #777; */
    /* box-shadow: 0 0 1px 0px rgba(0,0,0,0.1); */
}

input[type=range]::-webkit-slider-thumb:active {
    height: 20px;
    width: 20px;
}


/* ########################## accessibility ########################################### */

/* The default outline styling, for greatest accessibility. */
/* You can skip this to just use the browser's defaults. */
:focus {
    outline: var(--focus-outline);
}
  
/* When mouse is detected, ALL focused elements have outline removed. */
body.using-mouse :focus {
    outline: none;
}

/* ############################ Dropdown #################################### */


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: start;
    right: 0;
    display: none;
    position: absolute;
    background-color: var(--SECONDARY); /*#f1f1f1*/
    min-width: 160px;
    max-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    border: solid 1px var(--PRIMARY);
    border-radius: 4px;
    z-index: 3;
    margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content > * {
    max-height: 48px;
    max-width: 280px;
    color: var(--Labelcolor);
    padding: 14.5px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    cursor: pointer;
}

.dropdown-content > div > input {
    float: right;
    margin: 0;
    width: 17px;
    height: 17px;
}



/* Change color of dropdown links on hover  #ddd */
.dropdown-content *:hover {background-color: var(--Secondary-activ);} 

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */


/* ################################################################ */

.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    background: var(--SECONDARY);
    border: solid 1px var(--PRIMARY);
    border-radius: 4px;
    width: 45%;
    height: 45%;
    padding: 16px;
    z-index: 3;
}

.selector {
    background-color: var(--SECONDARY);
    border: none;
    width: 100%;
    font-size: 16px;
}

.btn-modal {
    margin: 0 10px 10px 10px;
    background-color: var(--SECONDARY);
	color: var(--Labelcolor);
	border: solid 1px var(--PRIMARY);
	border-radius: 4px;
	width: auto;
	height: auto;
	padding: 5px;
	/* font-weight: bold; */
	font-size: 16px;
	line-height: 24px;
}

.btn-modal:hover {
    background-color: var(--Secondary-activ);
}




/* ############################ Swiper #################################### */



.slide.h1 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: var(--swipertitle);
	transform: translateY(20px);
	transition: all 0.4s ease;
	transition-delay: 0.2s;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@media screen and (max-width: 520px) {
	.slide.h1 {
		font-size: 16px;
		line-height: 24px;
	}
}
.swiper-p {
	font-size: 16px;
	line-height: 24px;
	color: var(--swiperdescription);
	transform: translateY(20px);
	transition: all 0.4s ease;
	transition-delay: 0.3s;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toaudio {
	background-color: var(--swipertoaudio);
	color: var(--swiperdescription);
	border: none;
	border-radius: 4px;
	width: 15%;
	min-width: 80px;
	height: auto;
	padding: 5px;
	/* font-weight: bold; */

	font-size: 16px;
	line-height: 24px;
	transform: translateY(20px);
	transition: all 0.4s ease;
	transition-delay: 0.3s;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	/* text-overflow: ellipsis; */
}

@media screen and (max-width: 520px) {
	.swiper-p {
		font-size: 14px;
		line-height: 20px;
	}

	.toaudio {
		font-size: 14px;
		line-height: 20px;
	}
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	/* align-items: center; */
	z-index: 1;
	position: relative;
}
.swiper-container {
	background: var(--swiperbody);
	box-shadow: var(--swipershadow);
	width: 100%;
	position: relative;
	max-width: 820px; /*420px*/
	height: 100%;
	max-height: 520px; /*420px*/
	border-radius: 10px;
	text-align: initial;
}
.slider-image-wrapper {
	height: 200px;
	width: 100%;
	overflow: hidden;
}
.slider-item {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	opacity: 0;
	background: var(--swiperbody);
	cursor: grab;
}
.slider-item-content {
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.4s;
}
.slider-item-content > * {
	opacity: 0;
	transform: translateY(20px);
}
.swiper-slide-active .slider-item-content > * {
	transform: translateY(0px);
	opacity: 1;
}
.slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.2s;
}
.swiper-pagination {
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translatex(-50%);
	z-index: 1;
	width: auto !important;
}
.swiper-pagination-bullet {
	border-radius: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	line-height: 30px;
	font-size: 12px;
	opacity: 1;
	background: var(--swiperpagination);
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
	transition: all 0.2s;
}
.swiper-pagination-bullet-active {
	background: var(--swiperpagination-activ);
	width: 20px;
	border-radius: 10px;
}
.slider-buttons {
	position: absolute;
	display: flex;
	top: 100%;
	justify-content: flex-end;
	width: 100%;
	padding-top: 8px;
}
.swiper-button-next, .swiper-button-prev {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	position: relative;
	margin-left: 4px;
}
.swiper-button-next:before, .swiper-button-prev:before {
	content: '';
	position: absolute;
	background-color: #fff;
	height: 1px;
	width: 0;
	left: 0;
	bottom: -1px;
	transition: 0.2s;
}
.swiper-button-next:hover:before, .swiper-button-prev:hover:before {
	width: 100%;
}
@media screen and (max-width: 520px) {
	.swiper-button-next:hover:before, .swiper-button-prev:hover:before {
		display: none;
	}
}